@use '../../../assets/style/global.scss' as *;

.rubrics{
   flex: 1 1 auto;

   &__list{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
   }

   &__item{
      // background: #15181E;
      // border: 1px solid #fff;
      height: 240px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 20px;
      cursor: pointer;
      transition: all .3s ease-in-out;

      @media (max-width: 1600px){
         height: 220px;
      }

      @media (max-width: $md1+px){
         height: 180px;
      }

      @media (max-width: $md2+px){
         height: 140px;
      }

      @media (max-width: $md4+px){
         height: 120px;
      }

      &.active{
         background: #E98EED;
      }
   }

   &__title{
      font-size: 22px;
      font-weight: 600;
      color: #f1f1f1;
      line-height: 1.2;
      text-align: center;

      @media (max-width: $md1+px){
         font-size: 20px;
      }
      @media (max-width: $md2+px){
         font-size: 18px;
      }
      @media (max-width: $md4+px){
         font-size: 16px;
      }
   }
}