@use '../../../../assets/style/global.scss' as *;

.videoInfo{
   

   &__icon{
      position: absolute;
      top: 16px;
      right: 16px;
      z-index: 2;
      width: 28px;
      height: 28px;
      background: rgba(#111, 0.4);
      border-radius: 50%;
      svg{
         width: 100%;
         height: 100%;
         path{
            stroke: #B0B0B0;
            transition: all .3s ease-in-out;
         }
      }

      @media(any-hover: hover){
         &:hover{
            svg{
               path{
                  stroke: #eee;
               }
            }
         }
      }
   }

   &__content{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(#111, 0.9);
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease-in-out;
      display: flex;
      justify-content: center;

      &.active{
         opacity: 1;
         visibility: visible;
      }
   }

   &__body{
      position: relative;
      padding: 30px 30px;
      display: flex;
      flex-direction: column;

      @media (max-width: $md1+px){
         padding: 15px 0;
      }
      
   }

   &__title{
      font-size: 24px;
      font-weight: 600;
      color: #f1f1f1;
      margin: 10px 0px 22px 0px;

      @media (max-width: $md1+px){
         font-size: 20px;
         margin: 0px 0px 20px 0px;
      }
   }

   &__list{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 1 1 auto;

      @media (max-width: $md1+px){
         gap: 16px;
      }
   }

   &__item{
      display: flex;
      align-items: center;
      gap: 22px;

      @media (max-width: $md1+px){
         gap: 16px;
      }
   }

   &__keys{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 10px;
   }

   &__key{
      color: #f1f1f1;
      width: 48px;
      height: 48px;
      border: 3px solid #f1f1f1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 18px;
      border-radius: 10px;

      @media (max-width: $md1+px){
         width: 36px;
         height: 36px;
         font-size: 13px;
         border-radius: 8px;
      }

      svg{
         width: 24px;
         height: 24px;

         @media (max-width: $md1+px){
            width: 20px;
            height: 20px;
         }
         path{
            stroke: #f1f1f1;
         }
      }
   }

   &__text{
      font-size: 22px;
      font-weight: 500;
      color: #f1f1f1;
   }

   &__close{
      margin: 34px 0px 10px 0px;
      color: #f1f1f1;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      gap: 16px;
      cursor: pointer;
      transition: all .3s ease-in-out;

      @media (max-width: $md1+px){
         margin: 30px 0px 15px 0px;
         gap: 12px;
      }

      svg{
         path{
            stroke: #f1f1f1;
            transition: all .3s ease-in-out;
         }
      }

      @media(any-hover: hover){
         &:hover{
            color: #ccc;

            svg{
               path{
                  stroke: #ccc;
               }
            }
         }
      }
   }
}