.canvasLoader{
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #000;
}

.title{
   font-size: 14px;
   color: #f1f1f1;
   font-weight: 800;
}

/* HTML: <div class="loader"></div> */
.loader {
   width: 15px;
   aspect-ratio: 1;
   position: relative;
   animation: l9-0 1.5s infinite steps(2);
 }
 .loader::before,
 .loader::after {
   content: "";
   position: absolute;
   inset: 0;
   border-radius: 50%;
   background: #2C919D;
 }
 .loader::before {
   box-shadow: 26px 0 #2C919D;
   transform: translateX(-26px);
   animation: l9-1 .75s infinite linear alternate;
 }
 .loader::after {
   transform: translateX(13px) rotate(0deg) translateX(13px);
   animation: l9-2 .75s infinite linear alternate;
   // background: #9D2C8A;
 }
 @keyframes l9-0 {
     0% ,49.9% {transform: scale(1)}
     50%,100%  {transform: scale(-1)}
 }
 @keyframes l9-1 {
     100%{box-shadow: 52px 0 #2C919D}
 }
 @keyframes l9-2 {
     100%{transform: translateX(13px) rotate(-180deg) translateX(13px)}
 }