@use '../../../../assets/style/global.scss' as *;

.videoStages{
   width: 100%;
   margin: 0px 0px 12px 0px;
   &__body{
      display: flex;
      justify-content: space-between;
      background: rgb(24 24 27);
      padding: 20px;
      border-radius: 50px;

      @media (max-width: 1600px){
         padding: 12px 14px;
      }
   }

   &__list{
      display: flex;
      align-items: center;
      // background: #1F1F23;
      border: 2px solid rgba(238, 238, 238, 0.15);
      gap: 10px;
      border-radius: 30px;
      padding: 10px 12px;

      @media (max-width: 1600px){
         padding: 8px 10px;
      }

   }

   &__item{
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid #f1f1f1;
      font-weight: 700;
      font-size: 16px;
      color: #f1f1f1;
      border-radius: 50%;
      cursor: pointer;
      transition: all .3s ease-in-out;

      @media (max-width: 1600px){
         width: 34px;
         height: 34px;
      }

      &.completed{
         background: #52D930;
         border-color: #52D930;
         color: #f1f1f1;
      }

      &.active{
         background: transparent;
         color: #52D930;
         border-color: #52D930;
      }

      
   }

   &__save{
      // height: 60px;
      padding: 0 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 600;
      color: #eee;
      border-radius: 30px;
      border: 2px solid rgba(238, 238, 238, 0.15);
      transition: all .3s ease-in-out;

      @media (max-width: 1600px){
         padding: 0 28px;
      }

      @media(any-hover: hover){
         &:hover{
            color: #f1f1f1;
            border-color: rgba(238, 238, 238, 0.67);
         }
      }
   }

   &__time{
      display: flex;
      align-items: center;
      border: 2px solid rgba(238, 238, 238, 0.15);
      gap: 12px;
      border-radius: 30px;
      padding: 16px 26px;

   }

   &__cut{
      color: #f1f1f1;
      font-weight: 500;
      span{
         font-weight: 600;
      }
   }
}