.videoEditor {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;

   // background: rgb(24 24 27);
   // border-radius: 8px;
   height: 100%;

   // margin: 0px 0px 30px 0px;

   &__main {
      width: 100%;
      // background: #303030;
      background: rgb(24 24 27);
      border-radius: 16px;
      overflow: hidden;
      // padding: 20px 0;
   }

   &__trackWrapper{
      

      &.zoomLevel0{
         width: 100%;
      }
      
      &.zoomLevel1{
         width: 150%;
      }

      &.zoomLevel2{
         width: 200%;
      }
   }

   &__body {
      width: 100%;
      position: relative;
      width: 100%;
      padding-top: 56.25%; // This is 16:9 aspect ratio (9 / 16 = 0.5625 * 100%)
      background: rgb(24, 24, 27); // Black bars
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__video {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
   }

   &__controls {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      // background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__playPause {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: rgba(#1a171a, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      svg {
         path {
            stroke: transparent;
         }
      }

      &.active {
         // background: red;

         // transition: all .3s ease-in-out;
         animation: playPause 0.5s ease-in-out;
      }
      @keyframes playPause {
         0% {
            opacity: 0.9;
            transform: scale(1);
         }
         100% {
            opacity: 0;
            transform: scale(1.6);
         }
      }
   }

   &__bottom {
      padding: 16px 24px;
      // background-color: #303030;
      overflow-x: auto;
      // scroll-behavior: smooth;

      &::selection {
         -webkit-text-fill-color: rgb(24 24 27);
         color: rgb(24 24 27);
         background-color: #1F1F23; 
      }
      
      &::-webkit-scrollbar {
         width: 0px;
         height: 0;
         display: none;
      }
      &::-webkit-scrollbar-track {
         background: rgb(24 24 27);
      }
      &::-webkit-scrollbar-thumb {
         background: #1F1F23;
         border-radius: 6px;
      }
      &::-webkit-scrollbar-thumb:hover {
         background: #1F1F23;
      }
   }

   &__track {
      position: relative;
      width: 100%;
      height: 70px;
      background: rgba(35, 35, 35, 0.3);
      border: 1px solid rgba(35, 35, 35, 0.3);
      // border-radius: 5px;
      // cursor: pointer;
   }

   &__rangeHandle {
      position: absolute;
      top: 0;
      height: 100%;
      width: 6px;
      z-index: 12;
      user-select: none;
      border-radius: 4px 0 0 4px;
      background-color: #ffcc33;
      transform: translateX(-100%);
      &:last-child {
         transform: translateX(0%);
         border-radius: 0 4px 4px 0;
      }
   }

   &__handleSmall {
      position: relative;
      width: 100%;
      height: 100%;

      &:after {
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         width: 300%;
         height: 110%;
         transform-origin: center;
         transform: translate(-50%, -50%);
         // background: #000;
      }
   }

   &__rangeHighlight {
      position: absolute;
      top: 0;
      height: 100%;
      background-color: rgba(#ffcc33, 0.1);
      pointer-events: auto;
      // cursor: move;
      pointer-events: none;
      user-select: none;
      overflow: hidden;
   }

   &__progress {
      position: absolute;
      top: 0;
      height: 100%;
      // border-radius: 5px;
      // transition: left 0.1s linear;
      pointer-events: none;
   }

   &__progressBody {
      position: relative;
      height: 100%;
      z-index: 20;
      user-select: none;
   }

   &__progressLine {
      height: 100%;
      width: 2px;
      background-color: #e98eed;
      // transform: translateX(-50%);
   }

   &__progressTriangle {
      position: absolute;
      left: 50%;
      top: -10px;
      transform: translateX(-50%) rotate(180deg);
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 6px 16px 6px;
      border-color: transparent transparent #e98eed transparent;
      // transform: rotate(180deg);
   }


}
